# <center>Introduction to Pandas</center>

![](https://pandas.pydata.org/_static/pandas_logo.png)


## Installation

Simply,
```
pip install pandas
```


## Reading data from a CSV file

You can read data from a CSV file using the ``read_csv`` function. By default, it assumes that the fields are comma-separated.

In [3]:
# import pandas
import pandas as pd

>The `imdb.csv` dataset contains Highest Rated IMDb "Top 1000" Titles.

In [4]:
# load imdb dataset as pandas dataframe
df=pd.read_csv('imdb_1000.csv')

In [17]:
# show first 5 rows of imdb_df
df.head(10)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."

>The `bikes.csv` dataset contains information about the number of bicycles that used certain bicycle lanes in Montreal in the year 2012.

In [7]:
# load bikes dataset as pandas dataframe
bikes = pd.read_csv('bikes.csv')

In [18]:
# show first 3 rows of bikes_df
bikes.head(3)

  Date;;Rachel / Papineau;Berri1;Maisonneuve_2;Maisonneuve_1;Brébeuf;Parc;PierDup;CSC (Côte Sainte-Catherine);Pont_Jacques_Cartier
0          01/01/2012;00:00;16;35;51;38;5;26;10;0;27
1         02/01/2012;00:00;43;83;153;68;11;53;6;1;21
2        03/01/2012;00:00;58;135;248;104;2;89;3;2;15

## Selecting columns

When you read a CSV, you get a kind of object called a DataFrame, which is made up of rows and columns. You get columns out of a DataFrame the same way you get elements out of a dictionary.

In [19]:
# list columns of imdb_df
#for col in bikes.columns:
#    print(col)
bikes.columns

Index(['Date;;Rachel / Papineau;Berri1;Maisonneuve_2;Maisonneuve_1;Brébeuf;Parc;PierDup;CSC (Côte Sainte-Catherine);Pont_Jacques_Cartier'], dtype='object')

In [20]:
# what are the datatypes of values in columns
datatypes=dict(bikes.dtypes)
datatypes

{'Date;;Rachel / Papineau;Berri1;Maisonneuve_2;Maisonneuve_1;Brébeuf;Parc;PierDup;CSC (Côte Sainte-Catherine);Pont_Jacques_Cartier': dtype('O')}

In [23]:
# list first 5 movie titles
df.loc[0:5,["title"]]

                      title
0  The Shawshank Redemption
1             The Godfather
2    The Godfather: Part II
3           The Dark Knight
4              Pulp Fiction
5              12 Angry Men

In [26]:
# show only movie title and genre
df[['title','genre']]

                                               title      genre
0                           The Shawshank Redemption      Crime
1                                      The Godfather      Crime
2                             The Godfather: Part II      Crime
3                                    The Dark Knight     Action
4                                       Pulp Fiction      Crime
..                                               ...        ...
974                                          Tootsie     Comedy
975                      Back to the Future Part III  Adventure
976  Master and Commander: The Far Side of the World     Action
977                                      Poltergeist     Horror
978                                      Wall Street      Crime

[979 rows x 2 columns]

## Understanding columns

On the inside, the type of a column is ``pd.Series`` and pandas Series are internally numpy arrays. If you add ``.values`` to the end of any Series, you'll get its internal **numpy array**.

In [30]:
# show the type of duration column
df['duration'].dtype

dtype('int64')

In [32]:
# show duration values of movies as numpy arrays
import numpy as np
s1 = np.array(df['duration'])

print(s1)
print(type(s1))

[142 175 200 152 154  96 161 201 195 139 178 148 124 142 179 169 133 207
 146 121 136 130 130 106 127 116 175 118 110  87 125 112 102 107 119  87
 169 115 112 109 189 110 150 165 155 137 113 165  95 151 155 153 125 130
 116  89 137 117  88 165 170  89 146  99  98 116 156 122 149 134 122 136
 157 123 119 137 128 120 229 107 134 103 177 129 102 216 136  93  68 189
  99 108 113 181 103 138 110 129  88 160 126  91 116 125 143  93 102 132
 153 183 160 120 138 140 153 170 129  81 127 131 172 115 108 107 129 156
  96  91  95 162 130  86 186 151  96 170 118 161 131 126 131 129 224 180
 105 117 140 119 124 130 139 107 132 117 126 122 178 238 149 172  98 116
 116 123 148 123 182  92  93 100 135 105  94 140  83  95  98 143  99  98
 121 163 121 167 188 121 109 110 129 127  94 107 100 117 129 120 121 133
 111 122 101 134 165 138 212 154  89 134  93 114  88 130 101 158  99 108
 124 132 113 131 191 167 130 147 102  88 165 132 118 101 108 174  98  92
  98 106  85 101 105 115 115 124 105 103 138 184 120  99 131 138  98 123
 118 114 118 112 124 160  67 146 125 115 134 141 129 104  94 124 150 119
 128 143  85 151 118 101  99  92 125 102 106 107  91  80 122 102 112  92
 135 136 153 105 126  68  84 103 145  80 106 127 178 137 172  76 130  96
  82 115  95 143 125 120 127 112 104 113 189 127 188  96 113 132 122 126
 140 133 112 102  93 109  81 108 111 119  96 197 127 138  66 181 141 144
 128  83 121  98 117  94 174 112 108  70  99  96 137 136 100  90  96 161
 115 181 169  98 136 138 119 123 112 120 103  97 109 165 156 147 100 126
 115 105 144 102 107 119  90 197  86 113 133  64 141 113 122 105 119 102
 122 123 113  97 117 111  85  99 134  75 109 117  91 128 111 119 100 114
  92 141 101 115 127  96 129 135 109 157 193  94 155 113 130 117 159 141
 112 162 126 120 144 120 109  97 108 115 136  90 170 220 116 134 124  91
 103  96 119  98 101  93 179 155 121 103 127 103 107 100  92  94 158  86
 115 130 107 100 108 124 131 122 242 127 141 126  89 113 152 107  92 145
  84 126 132  78 117 128 100 128 100 143 107 100 125 106 157  94 104  94
 153 123 120 105 166 112  94 111  87  80 108 102 105 136 101 100 108 101
 106 105  88 129 138 129 118 139 123 150 132  80 178  79 163 114 144 130
 154  81  95 101 120  93 115 106 120 110 123 142  99 112 120 122 130 139
 129 141 127 130 118 110 115 101 112 108 143 152 117 121 119 114 122 105
 110 116 139 121 109 146 113 100 121 113 113 117  93 101  90 131  98  93
 121  82 124 100 117  99 116 123 114 133 105 127 144  90 118 122 102 187
  87 154  89  88 129  95 118  98 194 114  80 130 135 101 105 129 134 143
 202  89 106  92 137 124 122 113 112 110 135  88 146 104 125 131  91 142
 129 158 102  99 101 104 119 103  88 100 146 150 140 140 110  97 102 152
 100  94  85 104 112 191 119 111  94 103 134 157 158 127 101 109  98 134
 168  93 145 111  88 123 121 144 116 124 147 106 113 129  94 126 128 111
 146  85 105 132 130 162 113 110 113 162 110  78  92  95 138 102 128  96
 164 126 110 109 122 124 128 157 120 102 152 170 102 116 164  85 104  99
  81 131 101 121  69  92  94 141 116  98 135 121 108 114 102 112 140 157
 128 108 139  83 131 113 136  96 118 108  83 205 124 111 137 104 109 115
  99 114 133 131 131 123 126  97 126  89 122 121 125 105 118  81 115 126
 113 107 126 111  85 120  93 100 107 126 131 116 143  93  96 160 137 119
 114  98 111 138 144 107 114 125 146 113  85  97  93 113 128 114 147 127
 167 124 109 124 102 130 125  98 154  97 128  98 101 147 172 125  88 125
 121 112 120 133 110 135 110  80 135 101 112 124 129 104  96 105 109 117
  78 138 106  90 106  91 112 134 112 104 101 120 123 133 110 129 120  83
  88  96 139 113  84 106 170 144 104 153  85 130  93 148 115 102 125 106
 121 143 116  99 116 128 119 104 114 152 129 103 112  92 141 106 109 104
 122 111 112 116 130 133 134  92 104 110  97 100 118 112 138  92 118 140
 128 101  75  97 111 175  94  97 132 120 107  89  86 103 108 105 117 102
 104 157 104  98 109  96 103 114  99 118 150 105  87 136 162 109 107  90
 112 126 116 118 138 114 126]
<class 'numpy.ndarray'>

## Applying functions to columns

Use `.apply` function to apply any function to each element of a column.

In [5]:
# convert all the movie titles to uppercase
to_uppercase = lambda x: x.upper()
df['title'].apply(to_uppercase).head()

0    THE SHAWSHANK REDEMPTION
1               THE GODFATHER
2      THE GODFATHER: PART II
3             THE DARK KNIGHT
4                PULP FICTION
Name: title, dtype: object

## Plotting a column

Use ``.plot()`` function!

In [8]:
# plot the bikers travelling to Berri1 over the year
bikes.head()

  Date;;Rachel / Papineau;Berri1;Maisonneuve_2;Maisonneuve_1;Brébeuf;Parc;PierDup;CSC (Côte Sainte-Catherine);Pont_Jacques_Cartier
0          01/01/2012;00:00;16;35;51;38;5;26;10;0;27
1         02/01/2012;00:00;43;83;153;68;11;53;6;1;21
2        03/01/2012;00:00;58;135;248;104;2;89;3;2;15
3       04/01/2012;00:00;61;144;318;116;2;111;8;1;19
4       05/01/2012;00:00;95;197;330;124;6;97;13;2;16

In [15]:
# plot all the columns of bikes_df
plt.plot(bikes['Date'],bikes.loc[0:,'Rachel / Papineau' : 'Pont_Jacques_Cartier'] , label = ['Rachel / Papineau', 'Berri1', 'Maisonneuve_2', 'Maisonneuve_1', 'Brébeuf', 'Parc', 'PierDup', 'CSC (Côte Sainte-Catherine)', 'Pont_Jacques_Cartier'])

plt.xlabel('Date')
plt.ylabel('Bikers travelling to various places')
plt.title("Bikers data")
#plt.legend()

plt.show()

KeyError: 'Date'

## Value counts

Get count of unique values in a particular column/Series.

In [ ]:
# what are the unique genre in imdb_df?

In [ ]:
# plotting value counts of unique genres as a bar chart

In [ ]:
# plotting value counts of unique genres as a pie chart

## Index

### DATAFRAME = COLUMNS + INDEX + ND DATA

### SERIES = INDEX + 1-D DATA

**Index** or (**row labels**) is one of the fundamental data structure of pandas. It can be thought of as an **immutable array** and an **ordered set**.

> Every row is uniquely identified by its index value.

In [ ]:
# show index of bikes_df

In [ ]:
# get row for date 2012-01-01

#### To get row by integer index:

Use ``.iloc[]`` for purely integer-location based indexing for selection by position.

In [ ]:
# show 11th row of imdb_df using iloc

## Selecting rows where column has a particular value

In [ ]:
# select only those movies where genre is adventure

In [ ]:
# which genre has highest number of movies with star rating above 8 and duration more than 130 minutes?

## Adding a new column to DataFrame

In [ ]:
# add a weekday column to bikes_df

## Deleting an existing column from DataFrame

In [ ]:
# remove column 'Unnamed: 1' from bikes_df

## Deleting a row in DataFrame

In [ ]:
# remove row no. 1 from bikes_df

## Group By

Any groupby operation involves one of the following operations on the original object. They are −

- Splitting the Object

- Applying a function

- Combining the results

In many situations, we split the data into sets and we apply some functionality on each subset. In the apply functionality, we can perform the following operations −

- **Aggregation** − computing a summary statistic

- **Transformation** − perform some group-specific operation

- **Filtration** − discarding the data with some condition

In [ ]:
# group imdb_df by movie genres

In [ ]:
# get crime movies group

In [ ]:
# get mean of movie durations for each group

In [ ]:
# change duration of all movies in a particular genre to mean duration of the group

In [ ]:
# drop groups/genres that do not have average movie duration greater than 120.

In [ ]:
# group weekday wise bikers count

In [ ]:
# get weekday wise biker count

In [ ]:
# plot weekday wise biker count for 'Berri1'

![](https://memegenerator.net/img/instances/500x/73988569/pythonpandas-is-easy-import-and-go.jpg)